<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by: D-Snow. It uses data from mapbox.com and openweather.com</p>
        <img class="portrait" src="/img/manWorld.jpg">
    </div>

    {{>footer}}
</body>

</html>